@page
@model Csharp3_A1.Pages.Account.LoginModel
@{
}

<div class="card col-8">
	<div class="card-header">
		<h2>Login</h2>
	</div>
	<div class="card-body">
		<form method="post" asp-page-handler="Login">
			<div class="mb-2 mt-2">
				<label asp-for="Input.Username" class="form-label">Username</label>
				<input asp-for="Input.Username" class="form-control" />
			</div>
			<div class="mb-2 mt-2">
				<label asp-for="Input.Password" class="form-label">Password</label>
				<input asp-for="Input.Password" class="form-control" type="password" />
			</div>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<button type="submit" class="btn btn-primary mb-2">Login</button>
		</form>
	</div>
</div>