@page
@model Csharp3_A1.Pages.Admin.AddNewsModel
@{
}
<h2>Add News Item</h2>

<form method="post">
	<div class="form-group row mb-2">
		<label class="col-2 col-form-label">Title</label>
		<div class="col-10">
			<input asp-for="NewsItem.Title" class="form-control" />
			<span asp-validation-for="NewsItem.Title" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row mb-2">
		<label class="col-2 col-form-label">Content</label>
		<div class="col-10">
			<input asp-for="NewsItem.Content" class="form-control" />
			<span asp-validation-for="NewsItem.Content" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row mb-2">
		<label class="col-2 col-form-label">Image Path</label>
		<div class="col-10">
			<input asp-for="NewsItem.ImagePath" class="form-control" />
			<span asp-validation-for="NewsItem.ImagePath" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row mb-2">
		<label class="col-2 col-form-label">Url</label>
		<div class="col-10">
			<input asp-for="NewsItem.Url" class="form-control" />
			<span asp-validation-for="NewsItem.Url" class="text-danger"></span>
		</div>
	</div>

	<button type="submit" asp-page-handler="AddSync" class="btn btn-primary mb-2 mt-2">Save</button>
	<a asp-page="/Admin/NewsManagement" class="btn btn-outline-primary">Cancel</a>
</form>