@using Csharp3_A1.Models;
@model List<NewsItem>
@{
}

<div class="news-section p-3 bg-info bg-opacity-25 border rounded" alt="News section" aria-label="News section">
    <h4>News updates</h4>

    @foreach (var item in Model)
    {
        <div class="card mb-2 bg-opacity-25">
            <img src="@item.ImagePath" class="card-img-top img-fluid opacity-75" />
            <div class="card-body">
                <h6>@item.Title</h6>
                <p>@item.Content</p>
            </div>
        </div>
    }
</div>