@using Csharp3_A1.Models;
@model List<NewsItem>
@{
}

<div class="news-section p-3 bg-info bg-opacity-25 border rounded" alt="News section" aria-label="News section">
    <div class="row">
        <div class="col-8">
            <h4>News updates</h4>
        </div>

        <dic class="col-4">
            <a href="/Admin/NewsManagement" class="btn btn-sm btn-outline-primary">Manage</a>
        </dic>
    </div>

    @foreach (var item in Model)
    {
        <a href="@item.Url" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">
            <div class="card mb-2 bg-opacity-25">
                <img src="~/@item.ImagePath" class="card-img-top img-fluid opacity-75" />
                <div class="card-body">
                    <h6>@item.Title</h6>
                    <p>@item.Content</p>
                </div>
            </div>
        </a>
    }
</div>